{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "> 1%"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "ignore": [
    "node_modules"
  ]
}
